<h1>Yoda Translator</h1>

<form class='form-input' action ="/submit" method ="post">
  <label for ="user_input">Enter a phrase or sentence to translate into Yoda speak.<br><br></label>
  <input type ="text" name ="user_input" id ="user_input">
  <button>Submit</button>
</form>
